repos:
  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: bunx biome check --write --max-diagnostics=50
        language: system
        types: [ts]
        pass_filenames: false
